<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rent</title>
    <link rel="stylesheet" href="/static/output.css">
</head>
<body class="font-mono">

<!-- Navigation Bar -->
<nav class="navbar">
    <a href="#home" class="">Home</a>
    <a href="#cars" class="">Cars</a>
    <a href="#login" class="">Log In</a>
    <a href="#contact" class="">Contact Us</a>
</nav>
<!-- Slider -->
<section>

    <img class="mySlides" src="images/carshow6.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow7.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow8.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow9.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow10.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow11.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow12.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow13.jpg" style="width: 100%">
    <img class="mySlides" src="images/carshow14.jpg" style="width: 100%">

</section>
<header>
    <h1 class="bg-sky-950, text-zinc-950, break-after-column">Car Rent Mongolia</h1>
    <p class="size-3, text-zinc-700">Choose Value</p>
</header>
<section class="bg-center, max-w-600">
    <h2>Available Cars</h2>
    <p>Save Your Time</p>
    <section>
        <article>
            <p>BMW X1</p>
            <img src="images/BMW_X1.jpg" alt="">
        </article>
        <article>
            <p>BMW X5</p>
            <img src="images/BMW_X5.jpg" alt="">
        </article>
        <article>
            <p>BMW X7</p>
            <img src="images/BMW_X7.jpg" alt="">
        </article>
        <article>
            <p>BUGGATI CHIRON</p>
            <img src="images/BUGATTI_Chiron.jpg" alt="">
        </article>
        <article>
            <p>PORSCHE 911</p>
            <img src="images/Porsche%20911.jpg" alt="">
        </article>
    </section>
</section>
<footer>

</footer>

<script src="images/slide.js"></script>
</body>
</html>